body {
  margin: 0px;
}
footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding-bottom: 15px;
  padding-top: 15px;
  border-top: 3px solid whitesmoke;
  background-color: #e9ebee;
}
footer img {
  width: 25px;
}

.chatbar-chatbox {
  display: flex;
  justify-content: space-between;
  width: 400px;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
}

.chatbar-chatbox input {
  margin: 0;
  padding: 0;
  color: grey;
  font-size: 18px;
  width: 380px;
  border: white;
  outline: none;
}

.chatbar-chatbox input:focus::placeholder {
  border: hidden;
}
